<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <title>Vent</title>
  </head>
  <body>
</div>
    <h1>Vent</h1>
    <p>Talk to help anonymously though SMS</p>
    <button class = "button" type="button" onclick="location.href = '/number';" name="button"><span>Need Help?</span></button>
    <button class = "button" type="button" onclick="openForm()" name="button"><span>Want To Help?</span></button>
    <div class="form-popup" id="myForm">
      <form2 action="/action_page.php" class="form-container">
        <h1>Text This Number:</h1>
        <p>We're here to help<p>
      </form2>
  <form action="/action_page.php" class="form-container">
    <h1>Login</h1>

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Your First Name" name="doc_name" required>

    <label for="fos"><b>Field of Study</b></label>
    <input type="text" placeholder="Enter Your Last Name" name="field_of_study" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="doctor_email" required>

    <label for="num"><b>Phone Number</b></label>
    <input type="text" placeholder="Enter Your Phone" name="phone_number" required>

    <button onclick="location.href = '/submit';" type="submit"  class="btn">Submit</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>


<script type="text/javascript">
function openForm() {
  document.getElementById("myForm").style.display = "block";
}
function closeForm() {
  document.getElementById("myForm").style.display = "none";
}

</script>
</script>

</body>
</html>
